

<div class='relative h-screen w-full overflow-hidden'>
  <GraphView @graphConfiguration={{this.falconGraphViewData}} />
</div>

<p class='absolute left-2.5 top-2.5'>
  <LinkTo class='flex flex-col text-blue font-extrabold' @route='routes.index'>Back</LinkTo>
  <div class="text-body-and-labels">{{@title}}</div>
</p>
