<div
  class='absolute bottom-0 z-10 flex w-full flex-row flex-wrap justify-around space-y-1.5 bg-basement p-2 text-body-and-labels'
>
  <LinkTo @route='routes.demos' class='flex'>demos</LinkTo>
  <LinkTo @route='routes.vertex-playground' class='flex'>Vertex playground</LinkTo>
  <LinkTo @route='routes.instanced-attributes' class='flex'>Instanced Attributes</LinkTo>
  <LinkTo @route='routes.label-generator' class='flex'>Label Generator</LinkTo>
  <LinkTo @route='routes.multi-texture-shader' class='flex'>Multi Texture Shader</LinkTo>
  <LinkTo @route='routes.edges-v2' class='flex'>Edge demo</LinkTo>
  <LinkTo @route='routes.edge-types' class='flex'>Edge types</LinkTo>
  <LinkTo @route='routes.entity-types' class='flex'>Entity types</LinkTo>
</div>
{{outlet}}