{{#each this.demos as |demo|}}
  <li class='py-1'>
    <LinkTo
      class='relative inline-block text-primary-idle underline hover:text-positive focus:text-blue'
      @route='routes.demo-viewer'
      @model={{demo.id}}
    >
      {{demo.name}}
    </LinkTo>
  </li>
{{/each}}